{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="function-header">
		<h1>病人信息编辑界面</h1>
		<p>提供病人信息的添加，删除，查看以及编辑功能</p>
	</div>

	<form class="form-inline col-md-12" id="patient-edit-form" action="/patient_edit_search" enctype="multipart/form-data" method="POST">
		<div class="form-group col-md-3 col-md-offset-2">
			<span class="glyphicon glyphicon-search function-search"></span>
			<input type="text" name="query_idnum" class="function-input edit-input" placeholder="请输入身份证号">
			<a type="button" class="btn btn-info edit-btn">搜索</a>
		</div>
		<div class="form-group col-md-3">
			<span class="glyphicon glyphicon-search function-search"></span>
			<input type="text" name="query_name" class="function-input edit-input" placeholder="请输入姓名">
			<a type="button" class="btn btn-info edit-btn">搜索</a>
		</div>
		<div class="form-group col-md-3">
			<span class="glyphicon glyphicon-search function-search"></span>
			<input type="text" name="query_admissionnum" class="function-input edit-input" placeholder="请输入住院号" id="test">
			<a type="button" class="btn btn-info edit-btn">搜索</a>
		</div>
	</form>

	<div class="container">
		<div class="col-md-12 btn-container">
			<button class="btn btn-warning edit-mainfunc">重新排序</button>
			<a class="btn btn-info edit-mainfunc">一共有n例样本</a>
			<a href="{{ url_for('main.patient_info') }}" class="btn btn-success edit-mainfunc">
				<span class="glyphicon glyphicon-plus"></span>
			添加新样本
			</a>
		</div>

		<div>
			<table class="table" id="TB">
				<thead>
					<tr>
						<th>存储编号</th>
						<th>住院号</th>
						<th>姓名</th>
						<th>癌症分型</th>
						<th>是否死亡</th>
						<th>最后更新时间</th>
						<th>操作</th>
						</tr>
				</thead>
				<tbody id="tbody-result">
					
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
	$(function () {
		$.ajax({
			type: "GET",
			url: '/table',
			data: {},
			dataType: 'json',
			success: function(result) {
				var content = "";
				for (var i = 0;i < result.length; i++){
					content = $("<tr><td>" + result[i].id + "</td><td>" + result[i].admission_num + "</td><td>" + result[i].name + "</td><td>" + result[i].cancer + "</td><td>" + result[i].dead + "</td><td>" +"2018-09-13 16:44:03" + "</td><td>" + "<a type=\"button\" class=\"btn btn-info btn-upload\">更新</a>" + "</td></tr>");
					$("#TB tbody").append(content);
				}
			}
		});

		$('.edit-btn').on("click", function(){
			$('form').ajaxSubmit({
				url: '/patient_edit_search',
				type: 'POST',
				dataType: 'json',
				beforeSubmit: function(){
				},
				success: function(result){
					$('#TB tbody').empty();
					var content = "";
					for (var i = 0;i < result.length; i++){
						content = $("<tr><td>" + result[i].id + "</td><td>" + result[i].admission_num + "</td><td>" + result[i].name + "</td><td>" + result[i].cancer + "</td><td>" + result[i].dead + "</td><td>" +"2018-09-13 16:44:03" + "</td><td>" + "<a type=\"button\" class=\"btn btn-info btn-upload\">更新</a>" + "</td></tr>");
						$("#TB tbody").append(content);
					}
					$('form')[0].reset();
				}
			});
		});
	});
</script>
{% endblock %}

