{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="function-header">
		<h1>病人表达谱数据上传界面</h1>
		<p>提供病人信息的添加，删除，查看以及编辑功能</p>
	</div>
	<div class="form-inline col-md-12 patient-edit">
		<div class="form-group col-md-3 col-md-offset-3">
			<span class="glyphicon glyphicon-search function-search"></span>
			<input type="text" name="query_idnum" class="function-input edit-input" placeholder="请输入身份证号">
			<a type="button" class="btn btn-info edit-btn">搜索</a>
		</div>
	</div>

	<div class="container">
		<div class="col-md-12 btn-container">
			<a class="btn btn-info edit-mainfunc">一共有n例样本</a>
			<a href="{{ url_for('main.patient_info') }}" class="btn btn-success edit-mainfunc">
			信息导出
			</a>
		</div>

		<div>
			<table class="table" id="TB">
				<thead>
					<tr>
						<th>存储编号</th>
						<th>姓名</th>
						<th>住院号</th>
						<th>样本序列号</th>
						<th>是否已上传数据</th>
						<th>是否已上传对照数据</th>
						<th>数据是否公开</th>
						<th>操作</th>
						</tr>
				</thead>
				<tbody id="tbody-result">
					
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
	$(function() {
		$.ajax({
			type:"GET",
			url:'/table',
			data:{},
			dataType: 'json',
			success: function(result) {
				var content = "";
				for (var i = 0; i < result.length; i++){
					content = "<tr><td class=\"save_id\">" + result[i].id + "</td><td>" + result[i].name + "</td><td>" + result[i].admission_num + "</td><td>" + result[i].sample_name;

					if (result[i].expdata_exist == "yes"){
						content = content + "</td><td>" + "<span class=\"glyphicon glyphicon-ok\"></span>" ;
					} else {
						content = content + "</td><td>" + "<span class=\"glyphicon glyphicon-remove\"></span>" ;
					}

					if (result[i].refdata_exist == "yes"){
						content = content + "</td><td>" + "<span class=\"glyphicon glyphicon-ok\"></span>" ;
					} else {
						content = content + "</td><td>" + "<span class=\"glyphicon glyphicon-remove\"></span>" ;
					}

					if (result[i].public == "yes"){
						content = content + "</td><td>" + "<span class=\"glyphicon glyphicon-ok\"></span>" ;
					} else {
						content = content + "</td><td>" + "<span class=\"glyphicon glyphicon-remove\"></span>" ;
					}

					if (result[i].refdata_exist == "yes" && result[i].expdata_exist == "yes" ){
						content = content + "</td><td>" + "<a type=\"button\" class=\"btn btn-info btn-upload\">删除</a>" + "</td><td>" + "<a type=\"button\" class=\"btn btn-info btn-upload\">查看</a>" + "</td><td>" + "<a type=\"button\" class=\"btn btn-info btn-upload\">更新</a>" + "</td></tr>";
					} else {
						content = content + "</td><td>" + "<a type=\"button\" class=\"btn btn-info file-upload\">上传</a>" + "</td></tr>";
					}

					$("#TB tbody").append($(content));
				}
			}
		});

		$('body').on("click", '.file-upload', function(){
			var save_id = $(this).parent().siblings('.save_id').text();
			$.cookie("save_id", save_id);
			window.location.href = '/file_upload';
		});
	});

</script>
{% endblock %}